.project-page {
  padding: 2.5em 3em 2.5em 3em;
  width: 80%;
  min-width: calc(80vw);
  min-height: 400px;
  height: 100vh;
  max-height: 81vh;
  overflow: auto;
}

.project-img {
  max-width: 100%;
  width: auto;
}

@media screen and (max-width: 480px) {
  .project-page {
    width: 100%;
  }
}

.project-page > p {
  text-align: left;
  font-size: 1.25em;
  text-transform: none;
  color: black;
  letter-spacing: 0.075em;
}

.project-page > h4 {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
}

.project-page > h1 {
  font-size: 2em;
}

.team-members {
  position: relative;
  width: 100%;
  display: inline-block;
}
.team-div {
  width: calc(100% - 3.5em);
  float: right;
}
.team-opener {
  width: 3em;
  float: left;
}
.clearfix:after {
content: "";
clear: both;
}