/* Tiles */

.tiles {
  padding: 2.5em 3em 2.5em 3em;
  max-width: 80%;
  width: 100vw;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: -2.5em 0 0 -2.5em;
  max-height: calc(100vh - 15em);
  overflow: auto;
}

.tiles article {
  -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  width: calc(33.3333333333% - 2.5em);
  height: calc(24.5vw - 2.5em);
  margin: 1.25em;
}

.tiles article > .image {
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.tiles article > .image img {
  object-position: center;
  display: block;
  width: 100%;
}

.tiles article > .image:before {
  pointer-events: none;
  -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
  -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
  -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  opacity: 0.8;
}

.tiles article > .image:after {
  pointer-events: none;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.25;
  z-index: 2;
}

.tiles article > .page-link {
  cursor: pointer;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tiles article > .page-link > :last-child {
  margin: 0;
}

.tiles article > .page-link:hover {
  color: #ffffff !important;
}

.tiles article > .page-link h2 {
  margin: 0;
}

.tiles article > .page-link .content {
  -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
  -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
  -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  width: 100%;
  max-height: 0;
  line-height: 1.5;
  margin-top: 0.35em;
  opacity: 0;
}

.tiles article > .page-link .content > :last-child {
  margin-bottom: 0;
}

.tiles article > a {
  cursor: pointer;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tiles article > a > :last-child {
  margin: 0;
}

.tiles article > a:hover {
  color: #ffffff !important;
}

.tiles article > a h2 {
  margin: 0;
}

.tiles article > a .content {
  -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
  -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
  -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  width: 100%;
  max-height: 0;
  line-height: 1.5;
  margin-top: 0.35em;
  opacity: 0;
}

.tiles article > a .content > :last-child {
  margin-bottom: 0;
}

.tiles article.style1 > .image:before {
  background-color: #f2849e;
}

.tiles article.style2 > .image:before {
  background-color: #7ecaf6;
}

.tiles article.style3 > .image:before {
  background-color: #7bd0c1;
}

.tiles article.style4 > .image:before {
  background-color: #c75b9b;
}

.tiles article.style5 > .image:before {
  background-color: #ae85ca;
}

.tiles article.style6 > .image:before {
  background-color: #8499e7;
}

body:not(.is-touch) .tiles article:hover > .image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover > .image:before {
  background-color: #333333;
  opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover > .image:after {
  opacity: 0;
}

body:not(.is-touch) .tiles article:hover .content {
  max-height: 15em;
  opacity: 1;
}

* + .tiles {
  margin-top: 2em;
}

body.is-preload .tiles article {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}

body.is-touch .tiles article .content {
  max-height: 15em;
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .tiles {
    margin: -0.625em;
  }

  .tiles article {
    width: calc(33.3333333333% - 1.25em);
    height: calc(24.5vw - 1.25em);
    margin: 0.625em;
  }
}

@media screen and (max-width: 980px) {
  .tiles {
    margin: -1.25em;
  }

  .tiles article {
    width: calc(50% - 2.5em);
    height: calc(33vw - 1.25em);
    margin: 1.25em;
  }
}

@media screen and (max-width: 736px) {
  .tiles {
    margin: -0.675em;
  }

  .tiles article {
    width: calc(50% - 1.35em);
    height: calc(33vw - 1.5em);
    margin: 0.675em;
  }

  .tiles article:hover > .image {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 480px) {
  .tiles {
    margin: 0;
  }

  .tiles article {
    width: 100%;
    height: 88.5vw;
    margin: 2.5em 0 0 0;
  }
}

/* Poptrox Popup */

.poptrox-overlay {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.poptrox-popup {
  background: rgba(31, 34, 36, 0.925);
  box-shadow: 0 1em 3em 0.5em rgba(0, 0, 0, 0.25);
  cursor: default;
}

.poptrox-popup:before {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: -moz-linear-gradient(
      to left,
      rgba(31, 34, 36, 0.35),
      rgba(31, 34, 36, 0) 10em,
      rgba(31, 34, 36, 0)
    ),
    -moz-linear-gradient(to right, rgba(31, 34, 36, 0.35), rgba(31, 34, 36, 0)
          10em, rgba(31, 34, 36, 0));
  background-image: -webkit-linear-gradient(
      to left,
      rgba(31, 34, 36, 0.35),
      rgba(31, 34, 36, 0) 10em,
      rgba(31, 34, 36, 0)
    ),
    -webkit-linear-gradient(to right, rgba(31, 34, 36, 0.35), rgba(
            31,
            34,
            36,
            0
          )
          10em, rgba(31, 34, 36, 0));
  background-image: -ms-linear-gradient(
      to left,
      rgba(31, 34, 36, 0.35),
      rgba(31, 34, 36, 0) 10em,
      rgba(31, 34, 36, 0)
    ),
    -ms-linear-gradient(to right, rgba(31, 34, 36, 0.35), rgba(31, 34, 36, 0)
          10em, rgba(31, 34, 36, 0));
  background-image: linear-gradient(
      to left,
      rgba(31, 34, 36, 0.35),
      rgba(31, 34, 36, 0) 10em,
      rgba(31, 34, 36, 0)
    ),
    linear-gradient(
      to right,
      rgba(31, 34, 36, 0.35),
      rgba(31, 34, 36, 0) 10em,
      rgba(31, 34, 36, 0)
    );
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.poptrox-popup .closer {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url('/assets/icons/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3em;
  height: 5em;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 5em;
  z-index: 2;
}

.poptrox-popup .nav-previous,
.poptrox-popup .nav-next {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url('/assets/icons/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5em;
  cursor: pointer;
  height: 8em;
  margin-top: -4em;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 6em;
  z-index: 2;
}

.poptrox-popup .nav-previous {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 0;
}

.poptrox-popup .nav-next {
  right: 0;
}

.poptrox-popup .caption {
  padding: 2em 2em 0.1em 2em;
  background-image: -moz-linear-gradient(
    to top,
    rgba(16, 16, 16, 0.45) 25%,
    rgba(16, 16, 16, 0) 100%
  );
  background-image: -webkit-linear-gradient(
    to top,
    rgba(16, 16, 16, 0.45) 25%,
    rgba(16, 16, 16, 0) 100%
  );
  background-image: -ms-linear-gradient(
    to top,
    rgba(16, 16, 16, 0.45) 25%,
    rgba(16, 16, 16, 0) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(16, 16, 16, 0.45) 25%,
    rgba(16, 16, 16, 0) 100%
  );
  bottom: 0;
  cursor: default;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 2;
}

.poptrox-popup .caption h2,
.poptrox-popup .caption h3,
.poptrox-popup .caption h4,
.poptrox-popup .caption h5,
.poptrox-popup .caption h6 {
  margin: 0 0 0.5em 0;
}

.poptrox-popup .caption p {
  color: #ffffff;
}

.poptrox-popup .loader {
  -moz-animation: spinner 1s infinite linear !important;
  -webkit-animation: spinner 1s infinite linear !important;
  -ms-animation: spinner 1s infinite linear !important;
  animation: spinner 1s infinite linear !important;
  background-image: url('/assets/icons/spinner.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 2em;
  height: 2em;
  left: 50%;
  line-height: 2em;
  margin: -1em 0 0 -1em;
  opacity: 0.25;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 2em;
}

.poptrox-popup:hover .closer,
.poptrox-popup:hover .nav-previous,
.poptrox-popup:hover .nav-next {
  opacity: 0.5;
}

.poptrox-popup:hover .closer:hover,
.poptrox-popup:hover .nav-previous:hover,
.poptrox-popup:hover .nav-next:hover {
  opacity: 1;
}

.poptrox-popup.loading:before {
  opacity: 0;
}

body.touch .poptrox-popup .closer,
body.touch .poptrox-popup .nav-previous,
body.touch .poptrox-popup .nav-next {
  opacity: 1 !important;
}

@media screen and (max-width: 980px) {
  .poptrox-popup .closer {
    background-size: 3em;
  }

  .poptrox-popup .nav-previous,
  .poptrox-popup .nav-next {
    background-size: 4em;
  }
}

@media screen and (max-width: 736px) {
  .poptrox-popup:before {
    display: none;
  }

  .poptrox-popup .caption {
    display: none !important;
  }

  .poptrox-popup .closer,
  .poptrox-popup .nav-previous,
  .poptrox-popup .nav-next {
    display: none !important;
  }
}

#main .thumb > .image {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

body.modal-active #wrapper {
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  -moz-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease,
    -ms-filter 0.5s ease, -moz-filter 0.5s ease;
  -webkit-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease,
    -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
  -ms-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease,
    -ms-filter 0.5s ease, -ms-filter 0.5s ease;
  transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease,
    -ms-filter 0.5s ease, filter 0.5s ease;
}

body.modal-active #wrapper:after {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  z-index: 10003;
}
