.resume-page {
  padding: 2.5em 3em 2.5em 3em;
  min-width: calc(80vw);
  height: calc(100vh - 15em);
  max-height: calc(100vh - 15em);
  overflow: auto;
}

.resume-pdf {
  width: 100%;
  min-height: 100%;
}
