.expand-content {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 0 5em;
}

@media screen and (max-width: 480px) {
    .expand-content {
        margin: 0 2em;
    }
}

.show {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    height: auto !important;
    opacity: initial !important;
}

.expand-prompt {
    margin-top: 0.5em;
    cursor: pointer;
    text-align: left;
}

.expand-prompt:hover {
    color: #ff7496;
}